MQTT_BROKER=192.168.1.1
MQTT_PORT=1883
MQTT_TOPIC_COLOR=printer/led/color
MQTT_USER=username
MQTT_PASS=password

# Autodiscovery
MQTT_TOPIC_DISCOVERY=homeassistant/light/rgb_strip/config
DEVICE_ID=3D-printer
DEVICE_NAME=3D-printer