MQTT_BROKER=192.168.1.1
MQTT_PORT=1883
MQTT_TOPIC_COLOR=printer/led/color
MQTT_USER=username
MQTT_PASS=password

# Autodiscovery
MQTT_TOPIC_DISCOVERY="homeassistant/light/rgb_strip/config"
MQTT_TOPIC_COLOR="home/rgb_strip/color"
MQTT_TOPIC_COMMAND="home/rgb_strip/command"
DEVICE_ID="rgb_strip_01"
DEVICE_NAME="Living Room Lights"